<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_DIR">target/logs</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %msg%n</Property>
    </Properties>

    <Appenders>
        <!-- Консольный вывод -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{HH:mm:ss.SSS}}{cyan} %highlight{%-5level} %style{[%X{testName}]}{yellow} %msg%n"/>
        </Console>

        <!-- Аппендер с динамическим именем файла -->
        <Routing name="RoutingAppender">
            <Routes pattern="$${ctx:logFile}">
                <Route>
                    <File name="TestLog-${ctx:logFile}"
                          fileName="${ctx:logFile}.log"
                          append="false">
                        <PatternLayout pattern="${LOG_PATTERN}"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>



    <Loggers>
        <Logger name="com.codeborne.selenide" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RoutingAppender"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RoutingAppender"/>
        </Root>

    </Loggers>
</Configuration>